@import "bootstrap";

@media (max-width: 768px) { 
    .button-container {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center; 
    }
    .button {
        width: 90%; /* Make buttons wider */
        margin-bottom: 10px; 
    }
}

.user-info {
    text-align: right; /* Or left, or center */
    margin-bottom: 20px; 
    font-size: 14px;
    color: #333; /* Example color */
  }
  
  .user-info a {
    color: #007bff; /* Example link color */
    text-decoration: none;
  }
  
  .user-info strong { 
    font-weight: bold; 
  }